canvas
{
	position: absolute;
	width: min(100vw, calc(100vh * (128 / 220)));
    height: min(100vh, calc(100vw * (220 / 128)));
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	border: 1px solid #000;
    image-rendering: pixelated;
}

body
{
	overflow: hidden;
	background-color: #3a3a3a;
}